/*principal*/
.principal{
    text-align: center;
}
.sect{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: orange;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;

}

P{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
button{
    background-color: orange;
}


.uno{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dos{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.mostrar1{
    background-color: rgb(226, 162, 22);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 9%;
}


